body{
	font-family:Verdana,Microsoft JhengHei;
}
#top{
	font-size:30px;
	margin-top:10px;
	height:60px;
}
#name_title{
	margin-top:0px;
}
#Name_font{
	font-size:20px;
	padding-left:25px;
}
#skills,#edu,#contact{
	font-size:20px;
}
#emoticon{
	padding-right:0px;
}
#emoticon01,#emoticon02,#emoticon03{
	width:300px;
	height:300px;
}
.emoticon02_dis, .emoticon03_dis, .certificates02_dis, .certificates02_dis, .certificates03_dis{
	display:none;
}
#facebook, #twitter, #github, #line, #instagram{
	width:40px;
	height:40px;
}
#ContactInfo{
	float:left;
}
#gmail_logo, #facebook_logo, #phone_logo{
	width:40px;
	height:40px;
}
#close_button_exp{
	display:none;
}
#exp p{
	font-family:Microsoft JhengHei;
}
ul{
	font-size:20px;
}
#01{
	position:fixed;
}

.make-ol-lefter{
	-webkit-padding-start:0px;
}

@media only screen and (max-width: 993px){
	#RWD_STYLE{
		display:none;
	}
}
